<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>표준감사시간관리</title>
<link href="./guide.css" rel="stylesheet" type="text/css">
<link href="../../resources/css/pwc.css" rel="stylesheet" type="text/css">

</head>

<body class="guideBody">
<div id="wrapper" class="wrapper">
    <header>
        <h1>표준감사시간관리 HTML list</h1>
    </header>
    <hr>
    
    <section id="guideContainer" class="guideContainer">
    	
		<table class="htmlList">
			<thead>
				<tr>
					<th scope="col">No</th>
					<th scope="col">2Depth</th>
					<th scope="col">3Depth</th>
					<th scope="col">4Depth</th>
					<th scope="col">Link/파일명</th>
					<th scope="col">완료일</th>
					<th scope="col">수정일</th>
					<th scope="col">비고</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="no"></td>
					<td class="tleft">공통</td>
					<td class="tleft">레이아웃</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./layout.html" target="_blank">./layout.html</a></td>
					<td>02-27</td>
					<td></td>
					<td class="tleft">02-27 : 메뉴 스크립트 추가</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">Error</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./common/CoERRMsg.html" target="_blank">./common/CoERRMsg.html</a></td>
					<td>02-27</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">Loading</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./loading.html" target="_blank">./loading.html</a></td>
					<td>02-27</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">Alert</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./popup/AlertMsg.html" target="_blank">./popup/AlertMsg.html</a></td>
					<td>02-21</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">공통팝업</td>
					<td class="tleft">Project Select</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./popup/ProjectSearch_Pop.html" target="_blank">./popup/ProjectSearch_Pop.html</a></td>
					<td>02-21</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">임직원 검색</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./popup/Employee_Pop.html" target="_blank">./popup/Employee_Pop.html</a></td>
					<td>02-21</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">반려의견 등록</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./popup/SubmitReject_Pop.html" target="_blank">./popup/SubmitReject_Pop.html</a></td>
					<td>02-21</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">반려의견 보기</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./popup/ReasonReject_Pop.html" target="_blank">./popup/ReasonReject_Pop.html</a></td>
					<td>02-21</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">Conflict 조회</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./popup/Conflict_Pop.html" target="_blank">./popup/Conflict_Pop.html</a></td>
					<td>02-21</td>
					<td>03-29</td>
					<td class="tleft">03-29 : 인포문구추가</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">수익성 분석</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./popup/Profit_Pop.html" target="_blank">./popup/Profit_Pop.html</a></td>
					<td>02-21</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">History 보기</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./popup/History_Pop.html" target="_blank">./popup/History_Pop.html</a></td>
					<td>02-21</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				
				<tr>
					<td class="no"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">Budget Hour 도움말</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./popup/BudgetHelp_Pop.html" target="_blank">./popup/BudgetHelp_Pop.html</a></td>
					<td>02-28</td>
					<td></td>
					<td class="tleft">&nbsp;</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">파일 업로드</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./popup/FileUpload_Pop.html" target="_blank">./popup/FileUpload_Pop.html</a></td>
					<td>03-21</td>
					<td></td>
					<td class="tleft">&nbsp;</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">Project List</td>
					<td class="tleft"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./project/List.html" target="_blank">./project/List.html</a></td>
					<td>02-20</td>
					<td></td>
					<td class="tleft">02-22 : Grid 스타일 입힘.</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">Project Form</td>
					<td class="tleft">프로젝트 정보(탭)</td>
					<td class="tleft">New</td>
					<td class="tleft"><a href="./project/SubmitInformation.html" target="_blank">./project/SubmitInformation.html</a></td>
					<td>02-20</td>
					<td>03-29</td>
					<td class="tleft">02-22 : 내용수정<br>02-27 : 레이어팝업호출 스크립트 추가<br>
					02-28 : 내용수정<br>
					03-06 : 삭제버튼 추가<br>
					03-07 :input, select 수정</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft"></td>
					<td class="tleft">Edit</td>
					<td class="tleft"><a href="./project/EditInformation.html" target="_blank">./project/EditInformation.html</a></td>
					<td>02-20</td>
					<td>03-29</td>
					<td class="tleft">02-22 : 내용수정<br>
					02-28 : 내용수정<br>
					03-06 : 삭제버튼 추가<br>
					03-07 :input, select 수정</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft"></td>
					<td class="tleft">Read</td>
					<td class="tleft"><a href="./project/ReadInformation.html" target="_blank">./project/ReadInformation.html</a></td>
					<td>02-20</td>
					<td>03-29</td>
					<td class="tleft">02-22 : 내용수정<br>
					02-28 : 내용수정</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">Budget Hour(탭)</td>
					<td class="tleft">Edit</td>
					<td class="tleft"><a href="./project/EditBudgetHour.html" target="_blank">./project/EditBudgetHour.html</a></td>
					<td>02-20</td>
					<td>03-27</td>
					<td class="tleft">02-28 : 상단 항목 변경<br>
					그리드 위 타이틀 및 버튼 추가<br>
					03-04 : 시간계산 수정<br>
					03-26 : information 추가<br>
					03-27 : 시간 색상 추가</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft"></td>
					<td class="tleft">Read</td>
					<td class="tleft"><a href="./project/ReadBudgetHour.html" target="_blank">./project/ReadBudgetHour.html</a></td>
					<td>02-20</td>
					<td>03-28</td>
					<td class="tleft">02-28 : 상단 항목 변경<br>
					그리드 위 타이틀 및 버튼 추가<br>
					03-04 : 시간계산 수정<br>
					03-26 : information 추가<br>
					03-28 : EL승인요청 info추가</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">Monitoring</td>
					<td class="tleft">Progress Review</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./monitoring/ProgressReview.html" target="_blank">./monitoring/ProgressReview.html</a></td>
					<td>02-21</td>
					<td>03-18</td>
					<td class="tleft">02-28 : 엑셀버튼 추가</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">Retain / T-Link</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./monitoring/RetainTLink.html" target="_blank">./monitoring/RetainTLink.html</a></td>
					<td>02-21</td>
					<td>03-18</td>
					<td class="tleft">02-28 : 엑셀버튼 추가</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">표준감사시간 관리</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./monitoring/SATMng.html" target="_blank">./monitoring/SATMng.html</a></td>
					<td>02-21</td>
					<td>03-18</td>
					<td class="tleft">02-28 : 엑셀버튼 추가<br>
						03-14 : 문구 추가</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">Approval</td>
					<td class="tleft">List</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./approval/List.html" target="_blank">./approval/List.html</a></td>
					<td>02-21</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>

					<td class="tleft">프로젝트 정보(탭)</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./approval/Information.html" target="_blank">./approval/Information.html</a></td>
					<td>02-21</td>
					<td>03-18</td>
					<td class="tleft">02-28 : 내용수정<br></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">Budget Hour(탭)</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./approval/BudgetHour.html" target="_blank">./approval/BudgetHour.html</a></td>
					<td>02-21</td>
					<td>03-27</td>
					<td class="tleft">02-28 : 상단 항목 변경<br>
					그리드 위 타이틀 및 버튼 추가<br>
					03-04 : 시간계산 수정<br>
					03-26 : information 추가<br>
					03-27 : 시간 색상 추가</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">Admin</td>
					<td class="tleft">기초항목</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./admin/BasicInfo.html" target="_blank">./admin/BasicInfo.html</a></td>
					<td>03-08</td>
					<td>03-27</td>
					<td class="tleft">03-27 : 테이블 colgroup 수정</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft">Admin Site</td>
					<td class="tleft">레이아웃</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./layout_adm.html" target="_blank">./layout_adm.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">어플리케이션 관리</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./admin/ApplicationMng.html" target="_blank">./admin/ApplicationMng.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">공통코드 관리</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./admin/CodeMng.html" target="_blank">./admin/CodeMng.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">Role 관리</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./admin/RoleMng.html" target="_blank">./admin/RoleMng.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">메뉴 관리</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./admin/MenuMng.html" target="_blank">./admin/MenuMng.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">페이지 관리</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./admin/PageMng.html" target="_blank">./admin/PageMng.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">API 관리</td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft"><a href="./admin/APIMng.html" target="_blank">./admin/APIMng.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">권한 관리</td>
					<td class="tleft">메뉴(탭)</td>
					<td class="tleft"><a href="./admin/AuthorityMenu.html" target="_blank">./admin/AuthorityMenu.html</a></td>
					<td>02-26</td>
					<td>03-14</td>
					<td class="tleft">03-14 : OX버튼 수정</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">페이지 / Component(탭)</td>
					<td class="tleft"><a href="./admin/AuthorityPage.html" target="_blank">./admin/AuthorityPage.html</a></td>
					<td>02-26</td>
					<td>03-14</td>
					<td class="tleft">03-14 : OX버튼 수정</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">API 호출권한(탭)</td>
					<td class="tleft"><a href="./admin/AuthorityAPI.html" target="_blank">./admin/AuthorityAPI.html</a></td>
					<td>02-26</td>
					<td>03-14</td>
					<td class="tleft">03-14 : OX버튼 수정</td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">popup</td>
					<td class="tleft">메뉴 선택</td>
					<td class="tleft"><a href="./popup/Menu_Pop.html" target="_blank">./popup/Menu_Pop.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">페이지 선택</td>
					<td class="tleft"><a href="./popup/Page_Pop.html" target="_blank">./popup/Page_Pop.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">회사 검색</td>
					<td class="tleft"><a href="./popup/Company_Pop.html" target="_blank">./popup/Company_Pop.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">부서 검색</td>
					<td class="tleft"><a href="./popup/Department_Pop.html" target="_blank">./popup/Department_Pop.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">직급 검색</td>
					<td class="tleft"><a href="./popup/Grade_Pop.html" target="_blank">./popup/Grade_Pop.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
				<tr>
					<td class="no"></td>
					<td class="tleft"></td>
					<td class="tleft">&nbsp;</td>
					<td class="tleft">임직원 검색</td>
					<td class="tleft"><a href="./popup/Employee_Pop2.html" target="_blank">./popup/Employee_Pop2.html</a></td>
					<td>02-26</td>
					<td></td>
					<td class="tleft"></td>
				</tr>
			</tbody>
		</table>
	</section>
</div>

<script type="text/javascript" src="../../resources/lib/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../resources/lib/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../resources/lib/jqueryui/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../../resources/js/selectbox_pwc.js"></script>
<script type="text/javascript" src="./guide.js"></script>

</body>
</html>
