<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>표준감사시간관리</title>
<link href="../../resources/css/dhtmlx_custom.css" rel="stylesheet" type="text/css">
<link href="../../resources/css/pwc.css" rel="stylesheet" type="text/css">
<link href="../../resources/css/pwc_mediaS.css" rel="stylesheet" type="text/css" media="(max-width:1600px)">
</head>

<!--[if ie]><body class="lt-ie"><![endif]-->
<body>
<div id="wrapper" class="wrapper"><!-- 햄버거 메뉴 클릭시 navClose 클래스 추가 -->
    <header>
		<p class="logo">Pwc</p>
        <p class="pageTitle"><a href="#">표준감사시간관리</a></p>
        <ul class="topUtil">
            <li class="utilName tipClick"><a href="#">HG</a>
				<div class="tipCont">
					<ul>
						<li>홍길동</li>
						<li>123456</li>
					</ul>
					<a href="#" class="btnPwc btnS action">관리자사이트 이동</a>
					<button type="button" class="close">닫기</button>
				</div>
			</li>
			<li class="utilHelp"><a href="#">도움말</a></li>
        </ul>
		<nav>
			<button type="button" class="navBtn">Menu</button>
			<div class="navArea">
				<ul class="snbList">
					<li class="snb01"><a href="#" class="ctrl">Project</a><!-- 클릭시 li에 snbON 클래스 추가 -->
						<div class="snbDep2">
							<h2 class="snbTit">Project</h2>
							<ul>
								<li class="dep2ON"><a href="#">Project List</a></li>
								<li><a href="#">Project Form</a></li>
							</ul>
						</div>
					</li>
					<li class="snb02"><a href="#" class="ctrl">Monitoring</a>
						<div class="snbDep2">
							<h2 class="snbTit">Monitoring</h2>
							<ul>
								<li><a href="#">표준감사시간 관리</a></li>
								<li><a href="#">Progress Review</a></li>
								<li><a href="#">Retain / T-Link</a></li>
							</ul>
						</div>
					</li>
					<li class="snb03"><a href="#" class="ctrl">Approval</a>
						<div class="snbDep2">
							<h2 class="snbTit">Approval</h2>
							<ul>
								<li><a href="#">Approval List</a></li>
							</ul>
						</div>
					</li>
					<li class="snb04"><a href="#" class="ctrl">Admin</a>
						<div class="snbDep2">
							<h2 class="snbTit">Admin</h2>
							<ul>
								<li><a href="#">기초항목</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</nav>
    </header>
    <hr>
	
    <section id="container" class="container">
        
        <div id="contents" class="contents">
           	<!-- 컨텐츠 시작 -->
            <h1 class="hidden">Project Form</h1>
			
			컨텐츠 영역
			
			
            
            <!-- //컨텐츠 끝 -->        
        </div>
    </section>
</div>
<div id="popInner">
	
</div><!-- 레이어팝업 들어가는 부분 -->
<div class="dimmed"></div>
<!-- loading -->
<div class="loadingA" style="display:none">
	<div class="inner">
		<p class="txtT">Loading...</p>
		<img src="../../resources/images/loading.gif" alt="로딩중">
		<p class="txtB">Please wait!!</p>
	</div>
</div>
<script type="text/javascript" src="../../resources/lib/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../resources/lib/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../resources/lib/jqueryui/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../../resources/js/selectbox_pwc.js"></script>
<script type="text/javascript" src="../../resources/js/pwc_ui.js"></script>

</body>
</html>
