<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>표준감사시간관리</title>
<link href="../../../resources/css/dhtmlx_custom.css" rel="stylesheet" type="text/css">
<link href="../../../resources/css/pwc.css" rel="stylesheet" type="text/css">
<link href="../../../resources/css/pwc_mediaS.css" rel="stylesheet" type="text/css" media="(max-width:1600px)">
</head>

<!--[if ie]><body class="lt-ie"><![endif]-->
<body>
<div id="wrapper" class="wrapper">
    <header>
        <p class="logo">Pwc</p>
        <p class="pageTitle"><a href="#">Admin Site</a></p>
			<ul class="topUtil">
				<li class="utilName"><a href="#">HG</a></li>
			</ul>
		<nav>
			<button type="button" class="navBtn">Menu</button>
			<div class="navArea">
				<img src="../../../resources/images/dummy/@nav.gif" alt="">
			</div>
		</nav>
    </header>
    <hr>
	
    <section id="container" class="container">
        
        <div id="contents" class="contents">
           	<!-- 컨텐츠 시작 -->
            <h1 class="hidden">공통코드 관리</h1>
			
			<div class="boxWhite">
				<div class="adminArea adminArea02">
					<div class="left">
						<div class="topArea">
							<div class="selectbox" style="width:240px">
								<select title="">
									<option value="01">어플리케이션 명</option>
								</select>
							</div>
							<div class="btnArea">
								<button type="button" class="btnPwc btnM action">New</button>
								<button type="button" class="btnPwc btnM action">Delete</button>
							</div>
						</div>
						
						<div class="tblScroll tblScroll02">
							<table class="tblH">
								<caption>그룹코드 목록</caption>
								<colgroup><col style="width:50px"><col style="width:15%"><col style="width:20%"><col style="width:13%"><col style="width:auto"></colgroup>
								<thead>
									<tr>
										<th scope="col"><span class="frmInp"><input type="checkbox" id="totalChk" title="전체선택"><label for="totalChk"></label></span></th>
										<th scope="col">그룹코드</th>
										<th scope="col">그룹명</th>
										<th scope="col">사용여부</th>
										<th scope="col">설명</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDE</td>
										<td class="tleft">요청상태</td>
										<td class="tleft">아니오</td>
										<td class="tleft textOver">VAL1. 권한이 있는 경우 권한이 있는 경우 권한이 있는 경우 권한이 있는 경우</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDE</td>
										<td class="tleft">요청상태</td>
										<td class="tleft">아니오</td>
										<td class="tleft textOver">VAL1. 권한이 있는 경우 권한이 있는 경우</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDE</td>
										<td class="tleft">요청상태</td>
										<td class="tleft">아니오</td>
										<td class="tleft textOver">VAL1. 권한이 있는 경우 권한이 있는 경우</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDE</td>
										<td class="tleft">요청상태</td>
										<td class="tleft">아니오</td>
										<td class="tleft textOver">VAL1. 권한이 있는 경우 권한이 있는 경우</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDE</td>
										<td class="tleft">요청상태</td>
										<td class="tleft">아니오</td>
										<td class="tleft textOver">VAL1. 권한이 있는 경우 권한이 있는 경우</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDE</td>
										<td class="tleft">요청상태</td>
										<td class="tleft">아니오</td>
										<td class="tleft textOver">VAL1. 권한이 있는 경우 권한이 있는 경우</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDE</td>
										<td class="tleft">요청상태</td>
										<td class="tleft">아니오</td>
										<td class="tleft textOver">VAL1. 권한이 있는 경우 권한이 있는 경우</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDE</td>
										<td class="tleft">요청상태</td>
										<td class="tleft">아니오</td>
										<td class="tleft textOver">VAL1. 권한이 있는 경우 권한이 있는 경우</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDE</td>
										<td class="tleft">요청상태</td>
										<td class="tleft">아니오</td>
										<td class="tleft textOver">VAL1. 권한이 있는 경우 권한이 있는 경우</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDE</td>
										<td class="tleft">요청상태</td>
										<td class="tleft">아니오</td>
										<td class="tleft textOver">VAL1. 권한이 있는 경우 권한이 있는 경우</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDE</td>
										<td class="tleft">요청상태</td>
										<td class="tleft">아니오</td>
										<td class="tleft textOver">VAL1. 권한이 있는 경우 권한이 있는 경우</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="right">
						<div class="topArea">
							<div class="btnArea">
								<button type="button" class="btnPwc btnM action">Save</button>
							</div>
						</div>
						<table class="tblForm">
							<caption>코드 등록</caption>
							<colgroup><col style="width:20%"><col style="width:auto"></colgroup>
							<tbody>
								<tr>
									<th scope="row">그룹코드</th>
									<td><input type="text" class="inpFull" title="그룹코드 입력"></td>
								</tr>
								<tr>
									<th scope="row">그룹명</th>
									<td><input type="text" class="inpFull" title="그룹명 입력"></td>
								</tr>
								<tr>
									<th scope="row">사용여부</th>
									<td>
										<div class="selectbox" style="width:310px">
											<select title="">
												<option value="01">예</option>
												<option value="02">아니오</option>
											</select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">설명</th>
									<td><textarea cols="10" rows="15" class="textSt02">VAL1. 권한이 있는 경우</textarea></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="adminArea adminArea02 marT20">
					<div class="left">
						<div class="topArea">
							<dl class="codeName">
								<dt>그룹코드 : </dt>
								<dd>ABCDE</dd>
							</dl>
							<div class="btnArea">
								<button type="button" class="btnPwc btnM action">상위 코드 New</button>
								<button type="button" class="btnPwc btnM action">하위 코드 New</button>
								<button type="button" class="btnPwc btnM action">Delete</button>
							</div>
						</div>
					
						<div class="treeGroup">
							<ul class="groupDep1">
								<li class="treeON"><a href="#" class="dep1">상위 코드1</a>
									<ul class="groupDep2">
										<li><a href="#">명칭1</a></li>
										<li><a href="#">명칭2</a></li>
										<li><a href="#">명칭2</a></li>
										<li><a href="#">명칭2</a></li>
									</ul>
								</li>
								<li><a href="#" class="dep1">상위 코드2</a>
									<ul class="groupDep2">
										<li><a href="#">명칭3</a></li>
										<li><a href="#">명칭4</a></li>
										<li><a href="#">명칭5</a></li>
										<li><a href="#">명칭6</a></li>
										<li><a href="#">명칭7</a></li>
										<li><a href="#">명칭8</a></li>
										<li><a href="#">명칭9</a></li>
										<li><a href="#">명칭10</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
					
					<div class="right">
						<div class="topArea">
							<div class="btnArea">
								<button type="button" class="btnPwc btnM action">Save</button>
							</div>
						</div>
						<table class="tblForm">
							<caption>어플리케이션 등록</caption>
							<colgroup><col style="width:20%"><col style="width:auto"></colgroup>
							<tbody>
								<tr>
									<th scope="row">코드</th>
									<td><input type="text" title="코드 입력" style="width:310px"></td>
								</tr>
								<tr>
									<th scope="row">상위코드</th>
									<td><input type="text" title="상위코드 입력" readonly style="width:310px"></td>
								</tr>
								<tr>
									<th scope="row">명칭</th>
									<td><input type="text" title="명칭 입력" style="width:310px"></td>
								</tr>
								<tr>
									<th scope="row">값1</th>
									<td><input type="text" title="명칭 입력" style="width:310px"></td>
								</tr>
								<tr>
									<th scope="row">값2</th>
									<td><input type="text" title="명칭 입력" style="width:310px"></td>
								</tr>
								<tr>
									<th scope="row">값3</th>
									<td><input type="text" title="명칭 입력" style="width:310px"></td>
								</tr>
								<tr>
									<th scope="row">순번</th>
									<td><input type="text" title="명칭 입력" style="width:310px"></td>
								</tr>
								<tr>
									<th scope="row">사용여부</th>
									<td>
										<div class="selectbox" style="width:310px">
											<select title="">
												<option value="01">예</option>
												<option value="02">아니오</option>
											</select>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">설명</th>
									<td><textarea cols="10" rows="15" class="textSt03" placeholder="어플리케이션 설명"></textarea></td>
								</tr>
							</tbody>
						</table>
					</div>	
				</div>
				
			</div><!-- //boxWhite -->
            <!-- //컨텐츠 끝 -->        
        </div>
    </section>
</div>
<div id="popInner">
	
</div><!-- 레이어팝업 들어가는 부분 -->
<div class="dimmed"></div>
<script type="text/javascript" src="../../../resources/lib/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../resources/lib/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../resources/lib/jqueryui/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../../../resources/js/selectbox_pwc.js"></script>
<script type="text/javascript" src="../../../resources/js/pwc_ui.js"></script>

</body>
</html>
