<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>표준감사시간관리</title>
<link href="../../../resources/css/dhtmlx_custom.css" rel="stylesheet" type="text/css">
<link href="../../../resources/css/pwc.css" rel="stylesheet" type="text/css">
<link href="../../../resources/css/pwc_mediaS.css" rel="stylesheet" type="text/css" media="(max-width:1600px)">
</head>

<!--[if ie]><body class="lt-ie"><![endif]-->
<body>
<div id="wrapper" class="wrapper">
    <header>
        <p class="logo">Pwc</p>
        <p class="pageTitle"><a href="#">Admin Site</a></p>
			<ul class="topUtil">
				<li class="utilName"><a href="#">HG</a></li>
			</ul>
		<nav>
			<button type="button" class="navBtn">Menu</button>
			<div class="navArea">
				<img src="../../../resources/images/dummy/@nav.gif" alt="">
			</div>
		</nav>
    </header>
    <hr>
	
    <section id="container" class="container">
        
        <div id="contents" class="contents">
           	<!-- 컨텐츠 시작 -->
            <h1 class="hidden">Role 관리</h1>
			
			<div class="boxWhite">
				<div class="adminArea adminArea03">
					<div class="left">
						<div class="topArea">
							<div class="selectbox" style="width:240px">
								<select title="">
									<option value="01">어플리케이션 명</option>
								</select>
							</div>
							<div class="btnArea">
								<button type="button" class="btnPwc btnM action">New</button>
								<button type="button" class="btnPwc btnM action">Delete</button>
							</div>
						</div>
						
						<div class="tblScroll tblScroll03">
							<table class="tblH">
								<caption>Role 목록</caption>
								<colgroup><col style="width:50px"><col style="width:20%"><col style="width:auto"><col style="width:13%"><col style="width:18%"></colgroup>
								<thead>
									<tr>
										<th scope="col"><span class="frmInp"><input type="checkbox" id="totalChk" title="전체선택"><label for="totalChk"></label></span></th>
										<th scope="col">Role ID</th>
										<th scope="col">Rold명</th>
										<th scope="col">우선순위</th>
										<th scope="col">사용여부</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDEFG</td>
										<td class="tleft">Role명1</td>
										<td class="tright">1</td>
										<td>예</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDEFG</td>
										<td class="tleft">Role명1</td>
										<td class="tright">2</td>
										<td>아니오</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDEFG</td>
										<td class="tleft">Role명1</td>
										<td class="tright">3</td>
										<td>예</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDEFG</td>
										<td class="tleft">Role명1</td>
										<td class="tright">4</td>
										<td>아니오</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDEFG</td>
										<td class="tleft">Role명1</td>
										<td class="tright">1</td>
										<td>예</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td class="tleft">ABCDEFG</td>
										<td class="tleft">Role명1</td>
										<td class="tright">1</td>
										<td>아니오</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="right">
						<div class="topArea">
							<div class="btnArea">
								<button type="button" class="btnPwc btnM action">Save</button>
							</div>
						</div>
						<table class="tblForm">
							<caption>코드 등록</caption>
							<colgroup><col style="width:20%"><col style="width:auto"></colgroup>
							<tbody>
								<tr>
									<th scope="row">Role ID</th>
									<td><input type="text" style="width:310px" title="Role ID 입력"></td>
								</tr>
								<tr>
									<th scope="row">Role명</th>
									<td><input type="text" style="width:310px" title="Role명 입력"></td>
								</tr>
								<tr>
									<th scope="row">우선순위</th>
									<td><input type="text" style="width:310px" title="우선순위 입력"></td>
								</tr>
								<tr>
									<th scope="row">권한레벨</th>
									<td><input type="text" style="width:310px" title="권한레벨 입력"></td>
								</tr>
								<tr>
									<th scope="row">기본메뉴</th>
									<td><div class="frmNowrap"><input type="text" style="width:310px" readonly><button type="button" class="btIco btnSearch02 gapL">임직원 검색</button></div></td>
								</tr>
								<tr>
									<th scope="row">최근 수정일</th>
									<td>2019-02-02</td>
								</tr>
								<tr>
									<th scope="row">최근 수정자</th>
									<td>홍길동</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="adminArea adminArea03 marT20">
					<div class="left">
						<div class="topArea">
							<dl class="codeName">
								<dt>Role : </dt>
								<dd>Role명4</dd>
							</dl>
							<div class="btnArea">
								<button type="button" class="btnPwc btnM action">New</button>
								<button type="button" class="btnPwc btnM action">Delete</button>
							</div>
						</div>
					
						<div class="tblScroll tblScroll04">
							<table class="tblH">
								<caption>Role 목록</caption>
								<colgroup><col style="width:50px"><col style="width:20%"><col style="width:auto"><col style="width:18%"></colgroup>
								<thead>
									<tr>
										<th scope="col"><span class="frmInp"><input type="checkbox" id="totalChk" title="전체선택"><label for="totalChk"></label></span></th>
										<th scope="col">대상타입</th>
										<th scope="col">대상정보</th>
										<th scope="col">사용여부</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td>회사</td>
										<td class="tleft">01</td>
										<td>예</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td>회사</td>
										<td class="tleft">01</td>
										<td>예</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td>회사</td>
										<td class="tleft">01</td>
										<td>예</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td>회사</td>
										<td class="tleft">01</td>
										<td>예</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td>회사</td>
										<td class="tleft">01</td>
										<td>예</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td>회사</td>
										<td class="tleft">01</td>
										<td>예</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td>회사</td>
										<td class="tleft">01</td>
										<td>예</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td>회사</td>
										<td class="tleft">01</td>
										<td>예</td>
									</tr>
									<tr>
										<td><span class="frmInp"><input type="checkbox" id="totalChk" title="선택"><label for="totalChk"></label></span></td>
										<td>회사</td>
										<td class="tleft">01</td>
										<td>예</td>
									</tr>
								</tbody>
							</table>
						</div>
						
					</div>
					
					<div class="right">
						<div class="topArea">
							<div class="btnArea">
								<button type="button" class="btnPwc btnM action">Save</button>
							</div>
						</div>
						<table class="tblForm">
							<caption>Role타입 등록</caption>
							<colgroup><col style="width:20%"><col style="width:auto"></colgroup>
							<tbody>
								<tr>
									<th scope="row">대상타입</th>
									<td>
										<div class="frmArea">
											<span class="frmInp"><input type="radio" id="roleType01" name="roleType" checked><label for="roleType01">회사</label></span>
											<span class="frmInp"><input type="radio" id="roleType02" name="roleType"><label for="roleType02">Los</label></span>
											<span class="frmInp"><input type="radio" id="roleType03" name="roleType"><label for="roleType03">팀</label></span>
											<span class="frmInp"><input type="radio" id="roleType04" name="roleType"><label for="roleType04">직급</label></span>
											<span class="frmInp"><input type="radio" id="roleType05" name="roleType"><label for="roleType05">개인</label></span>
										</div>
									</td>
								</tr>
								<tr>
									<th scope="row">대상정보</th>
									<td><input type="text" title="상위코드 입력" readonly style="width:310px"></td>
								</tr>
								<tr>
									<th scope="row">사용여부</th>
									<td>
										<div class="selectbox" style="width:310px">
											<select title="">
												<option value="01">예</option>
												<option value="02">아니오</option>
											</select>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>	
				</div>
				
			</div><!-- //boxWhite -->
            <!-- //컨텐츠 끝 -->        
        </div>
    </section>
</div>
<div id="popInner">
	
</div><!-- 레이어팝업 들어가는 부분 -->
<div class="dimmed"></div>
<script type="text/javascript" src="../../../resources/lib/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../resources/lib/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../resources/lib/jqueryui/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../../../resources/js/selectbox_pwc.js"></script>
<script type="text/javascript" src="../../../resources/js/pwc_ui.js"></script>

</body>
</html>
