@charset "utf-8";
/* reset style */
html, body {
	width: 100%;
	height: 100%;
	min-height: 100%;
	color: #404040;
}

div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, div, dl, dt, dd, h1, h2, h3, h4, h5, form, fieldset, p, button {
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #404040;
	font-family: 'Dotum', '돋움', Gulim, Helvetica, sans-serif;
}

h1, h2, h3, h4, input, button {
	font-family: 'Dotum', '돋움', Gulim, Helvetica, sans-serif;
	font-size: 12px;
	color: #404040;
	background-color: #fff;
	word-break: break-all;
	-ms-word-break: break-all;
}

form {
	margin-bottom: 0;
}

:focus {
	outline: 0;
}

img, fieldset, iframe {
	border: 0 none
}

ul, ol, li {
	margin: 0;
	padding: 0;
	list-style-type: none
}

input, select, button {
	vertical-align: middle;
}

input[type='checkbox'], input[type='radio'] {
	cursor: pointer;
	margin-right: 5px
}

input[type='checkbox'] ~ label, input[type='radio'] ~ label {
	vertical-align: middle;
}

input[type='checkbox']:disabled, input[type='radio']:disabled {
	cursor: default;
}

img {
	vertical-align: top
}

i, em, address {
	font-style: normal
}

label, button {
	cursor: pointer
}

button {
	margin: 0;
	padding: 0
}

a {
	color: #444;
	text-decoration: none
}

a:hover {
	color: #390;
	text-decoration: underline
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
}

button * {
	position: relative
}

button img {
	left: -3px;
	*left: auto
}
/* html:first-child select{height:20px;padding-right:6px} */
option {
	padding-right: 6px
}

hr {
	display: none;
	border: none;
}

legend {
	width: 0;
	display: none;
}

caption {
	display: none;
}

input {
	margin: 0;
	padding: 0;
	overflow: visible;
}

input::-ms-clear {
	display: none
}

input[type=text]::-ms-input-placeholder {
	color: #999;
	font-weight: bold;
	opacity: 0.6;
}

input[type=number] {
	text-align: right;
}

iframe {
	position: relative;
	z-index: 1;
}

textarea, input, select {
	font-family: 'Malgun Gothic';
	font-size: 12px;
}

pre {
	word-wrap: break-word;
}

table th, table td {
	background-clip: padding-box;
}

a {
	text-decoration: none;
	color: #2496db;
}

a:hover {
	text-decoration: underline;
	color: #2496db;
}

.bdt_none {
	border-top: none 0 !important;
}

.bdl_none {
	border-left: none 0 !important;
}

.bdr_none {
	border-right: none 0 !important;
}

.bdb_none {
	border-bottom: none 0 !important;
}

.inp_change.invalid, .edit_mode .inp_check_list.invalid {
	background-color: #faeef0 !important;
	border-bottom: 1px solid red;
	border-top: 1px solid red;
	border-right: 1px solid red;
}

/* credential layout style */
.wrap {
	position: relative;
	padding: 61px 0 95px;
	min-width: 1024px;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dc_header {
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px 0;
	width: 100%;
	height: 60px;
	background-color: #fff;
	overflow: hidden;
}

.dc_header::after {
	content: '';
	clear: both;
	display: block;
}

.dc_header .logo {
	float: left;
	margin-left: 18px;
	width: 250px;
	height: 23px;
	color: #db536a;
	font-size: 24px;
	font-weight: normal;
	line-height: 23px;
	font-family: Georgia, Helvetica, sans-serif;
	font-style: italic;
}

.dc_header .util {
	float: right;
	margin: 4px 18px 0 0;
	height: 20px;
	font-size: 12px;
}

.dc_header .util>li {
	float: left;
	margin: 0 2px;
	height: 20px;
	line-height: 20px;
}

.dc_header .util>li>span {
	line-height: 20px;
	cursor: pointer;
}

.dc_footer {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #fff;
	border-top: 1px solid #e5e5e5;
}

.dc_footer .copy {
	padding: 5px 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #999;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.dc_footer .footer_info {
	position: relative;
	padding: 0 20px 0 92px;
	height: 64px;
}

.dc_footer .footer_info::before {
	content: 'S2';
	position: absolute;
	left: 0;
	top: 0;
	width: 72px;
	height: 47px;
	color: #db536a;
	font-size: 34px;
	text-align: center;
	line-height: 47px;
	letter-spacing: -0.025em;
	border-right: 1px solid #c0c8c8;
}

.dc_footer .footer_info p {
	margin: 0;
	padding: 5px 0;
	line-height: 18px;
	color: #999;
}

.dc_footer .footer_info p strong {
	font-weight: normal;
}

.dc_container {
	position: relative;
	padding-top: 41px;
	height: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dc_container.none_top {
	padding-top: 0;
}

.dc_tab_area {
	position: absolute;
	left: 0;
	top: -1px;
	width: 100%;
	height: 41px;
}

.dc_tab_list {
	padding: 0 16px;
	height: 41px;
	border-bottom: 1px solid #db536a;
}

.dc_tab_list::after {
	content: '';
	clear: both;
	display: block;
}

.dc_tab_list>li {
	position: relative;
	z-index: 1;
	float: left;
	margin-left: -1px;
	margin-top: 4px;
	min-width: 140px;
	height: 37px;
	line-height: 17px;
	text-align: center;
	border: 1px solid #e5e5e5;
	border-bottom: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dc_tab_list>li.on {
	z-index: 2;
	margin-top: 0;
	color: #db536a;
	height: 42px;
	font-weight: bold;
	background-color: #fff;
	border: 1px solid #db536a;
	border-top: 4px solid #db536a;
	border-bottom: none 0;
}

.dc_tab_list>li:hover {
	color: #db536a;
}

.dc_tab_list>li>span {
	display: block;
	padding: 9px 30px;
	width: 123px;
	height: 18px;
	color: inherit;
	cursor: pointer;
}

.dc_contents {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.dc_contents .dc_top_area {
	height: 65px;
	overflow: hidden;
}

.dc_contents .dc_top_area::after {
	content: '';
	clear: both;
	display: block;
}

.dc_contents .dc_con_area {
	padding: 10px 20px;
}

.dc_contents .footer_paging .dc_con_area {
	padding-bottom: 47px;
}

.dc_view_area {
	position: relative;
	padding: 63px 0 0;
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dc_view_area .dc_view_top {
	position: absolute;
	left: 20px;
	right: 0;
	top: 0;
	padding: 10px 0 0;
	height: 52px;
	border-bottom: 1px solid #e5e5e5
}

.dc_view_area .dc_view_top .dc_btn_area {
	padding: 13px 20px;
}

.dc_view_area .dc_view_body {
	padding: 0 20px 10px 20px;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.dc_con_menu {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	width: 200px;
	background-color: #fff;
	border-right: 1px solid #e5e5e5;
	overflow: hidden;
	overflow-y: auto;
}

.dc_con_menu.hidden {
	display: none;
	visibility: hidden;
}

.dc_con_menu ~ .dc_con_article {
	margin-left: 200px;
}

.dc_con_menu.hidden ~ .dc_con_article {
	margin-left: 0px;
}

.dc_con_menu .menu_title_area {
	background-color: #db536b;
}

.dc_con_menu .menu_title {
	padding: 20px;
	height: 30px;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	background-color: transparent;
}

.dc_con_menu .menu_list_area {
	margin: 16px 8px 16px 10px;
	width: 181px;
}

.dc_con_menu .menu_list {
	width: 181px;
}

.dc_con_menu .menu_list>li {
	margin-top: 5px;
	list-style-type: none;
}

.dc_con_menu .menu_list>li:first-child {
	margin-top: 0;
}

.dc_con_menu .menu_list .menu_link {
	display: block;
	padding: 10px;
	height: 19px;
	color: #676664;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: -1px;
	background-color: #f5f4f0;
	border: 1px solid #d5d5d5;
	cursor: pointer;
}

.dc_con_menu .menu_list .menu_link:hover {
	color: #db536a;
}

.dc_con_menu .menu_list .menu_mas_link {
	display: block;
	padding: 10px;
	height: 19px;
	color: #676664;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: -1px;
	background-color: #f5f4f0;
	border: 1px solid #d5d5d5;
}

.dc_con_menu .menu_list .on .menu_link {
	color: #fff;
	background-color: #db536b;
	border-color: #db536b;
}

.dc_con_menu .menu_list .dep02 .menu_link {
	padding-left: 25px;
	border-top: none 0;
	background-image: url(../images/credential/img_menu_dot.gif);
	background-repeat: no-repeat;
	background-position: 12px 18px;
	cursor: pointer;
}

.dc_con_menu .menu_list .dep02 .on .menu_link {
	background-image: url(../images/credential/img_menu_dot_on.gif);
}

.dc_con_body {
	position: relative;
	height: 100%;
	overflow: hidden;
}
/* .dc_con_article {position:relative;padding:0 0 18px;height:100%;overflow:hidden;overflow-y:auto;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;} */
.dc_con_article {
	position: relative;
	padding: 0px;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dc_top_area .text {
	color: #999;
}

.dc_top_area .dc_top_lft {
	float: left;
	padding: 25px 0 14px 18px;
	max-width: 55%;
	height: 26px;
}

.dc_top_area .dc_top_lft>span {
	float: left;
	margin-right: 5px;
	height: 26px;
	line-height: 26px;
}

.dc_top_area .dc_top_rgt {
	float: right;
	padding: 25px 18px 14px 0;
	max-width: 40%;
	height: 26px;
}

.dc_top_area .dc_top_rgt>span {
	float: left;
	margin-left: 5px;
	height: 26px;
	line-height: 26px;
}
/* .dc_con_article #dc_con_list_detail {position:relative;height:100%;} */
.dc_con_article #dc_con_list_detail {
	position: relative;
}

.dc_top_search {
	margin: 20px 20px 0;
}

.dc_top_box {
	position: relative;
	margin: 0;
	padding: 11px 139px 11px 10px;
	min-height: 26px;
	background-color: #f5f4f0;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	overflow: hidden;
}

.dc_top_box::after {
	content: '';
	clear: both;
	display: block;
}

.dc_top_box_lft {
	height: 26px;
	overflow: hidden;
}

.dc_top_box.open .dc_top_box_lft {
	height: auto;
}

.dc_top_box_rgt {
	position: absolute;
	right: 10px;
	top: 11px;
	height: 26px;
}

.dc_top_box .box_row {
	margin-top: 4px;
	height: 26px;
	overflow: hidden;
}

.dc_top_box .box_row:first-child {
	margin-top: 0;
}

.dc_top_box .box_row::after {
	content: '';
	clear: both;
	display: block;
}

.dc_top_box .box_row>span {
	float: left;
	padding-left: 8px;
	margin-right: 30px;
	height: 26px;
	line-height: 26px;
	color: #a09e9f;
	background: transparent url(../images/dashboard/img_bar.gif) no-repeat
		left 50%;
}

.dc_top_box input[type=text] {
	padding: 2px 0;
	height: 20px;
	line-height: 20px;
	border: 1px solid #d6d6d6;
	vertical-align: top;
}

.dc_top_box select {
	height: 26px;
	line-height: 26px;
	border: 1px solid #d6d6d6;
	vertical-align: top;
}

.dc_contents .dc_con_accordion {
	
}

.dc_contents .dc_con_accordion .accordion_btn {
	display: block;
	padding-left: 20px;
	width: 100%;
	height: 20px;
	color: #333;
	text-align: left;
	font-weight: bold;
	background: #fff url(../images/dashboard/btn_accordion_open.gif)
		no-repeat left 2px;
	outline: none;
}

.dc_contents .dc_con_accordion.show .accordion_btn {
	background-image: url(../images/dashboard/btn_accordion_close.gif);
}

.dc_contents .dc_con_accordion .accordion_con {
	margin-bottom: 0;
	padding-top: 5px;
	overflow: hidden;
	-webkit-transition: margin-bottom 0.3s;
	transition: margin-bottom 0.3s;
}

.dc_contents .dc_con_accordion.show .accordion_con {
	margin-bottom: 40px;
}

.dc_contents .dc_con_accordion:last-child .accordion_con {
	margin-bottom: 0;
}

/* .dc_paging_area {position:absolute;left:0;right:0;bottom:0;padding:5px 20px;height:26px;text-align:center;overflow:hidden;background-color:#f9f9f9;border-top:1px solid #e5e5e5;} */
.dc_paging_area {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px 20px;
	text-align: center;
	overflow: hidden;
	background-color: #f9f9f9;
	border-top: 1px solid #e5e5e5;
}

.dc_paging_area button {
	outline: none 0;
}

.dc_paging_area .btn_paging {
	display: inline-block;
	height: 26px;
}

.dc_paging_area .btn_paging>button {
	margin: 0 2px;
	padding: 0 4px;
	min-width: 26px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	background-color: #fff;
	border: 1px solid #d5d5d5;
	border-radius: 0;
}

.dc_paging_area .btn_paging>button:hover {
	color: #db536b;
	border-color: #db536b;
}

.dc_paging_area .btn_paging>button.on {
	color: #fff;
	font-weight: bold;
	background-color: #db536b;
	border-color: #db536b;
}

.dc_paging_area .btn_first {
	margin: 0 2px;
	padding: 0 10px;
	min-width: 26px;
	height: 26px;
	color: #666;
	text-align: center;
	line-height: 26px;
	background-color: #fff;
	border: 1px solid #d5d5d5;
	border-radius: 0;
}

.dc_paging_area .btn_first:hover {
	color: #db536b;
	border-color: #db536b;
}

.dc_paging_area .btn_last {
	margin: 0 2px;
	padding: 0 10px;
	min-width: 26px;
	height: 26px;
	color: #666;
	text-align: center;
	line-height: 26px;
	background-color: #fff;
	border: 1px solid #d5d5d5;
	border-radius: 0;
}

.dc_paging_area .btn_last:hover {
	color: #db536b;
	border-color: #db536b;
}

.dc_paging_area .btn_prev {
	margin: 0 2px;
	min-width: 26px;
	height: 26px;
	background: #fff url(../images/credential/icon_page_prev.gif) no-repeat
		50%;
	border: 1px solid #d5d5d5;
	border-radius: 0;
	text-indent: -999em;
}

.dc_paging_area .btn_prev:hover {
	background-image: url(../images/credential/icon_page_prev_on.gif);
	border-color: #db536b;
}

.dc_paging_area .btn_next {
	margin: 0 2px;
	min-width: 26px;
	height: 26px;
	background: #fff url(../images/credential/icon_page_next.gif) no-repeat
		50%;
	border: 1px solid #d5d5d5;
	border-radius: 0;
	text-indent: -999em;
}

.dc_paging_area .btn_next:hover {
	background-image: url(../images/credential/icon_page_next_on.gif);
	border-color: #db536b;
}

.dc_btn_area {
	padding: 5px 0;
	min-height: 26px;
}

.dc_btn_area::after {
	content: '';
	clear: both;
	display: block;
}

.dc_btn_area_lft {
	float: left;
	height: 26px;
	overflow: hidden;
}

.dc_btn_area_lft>button {
	float: left;
	margin-left: 4px;
}

.dc_btn_area_lft>button:first-child {
	margin-left: 0;
}

.dc_btn_area_rgt {
	float: right;
	height: 26px;
	overflow: hidden;
}

.dc_btn_area_rgt>button {
	float: left;
	margin-left: 4px;
}

.dc_btn_area_rgt>button:first-child {
	margin-left: 0;
}
/* modal style*/
.blockUI {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #aaa;
	opacity: 0.5 !important;
	border: none;
	z-index: 1000;
	cursor: wait;
}

.blockUI.blockMsg.blockElement {
	border: none !important;
	top: 50%;
	height: auto;
}

.ui-dialog {
	position: absolute;
	top: 10%;
	left: 50%;
	display: inline-block;
	min-width: 300px;
	height: auto;
	background-color: #fff;
	border: 1px solid #f1f1f1;
	border-radius: 3px;
	box-shadow: 1px 1px 3px rgba(83, 83, 83, 0.6);
	z-index: 1500;
}

.ui-dialog-titlebar {
	position: relative;
	height: 40px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

.ui-dialog-titlebar:active {
	cursor: move;
}

.ui-dialog-title {
	display: block;
	padding: 11px 40px 11px 15px;
	height: 18px;
	line-height: 18px;
	color: #e0301e;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: -1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-family: 'Malgun Gothic';
}

.ui-dialog-titlebar-close {
	position: absolute;
	right: 11px;
	top: 7px;
	width: 30px;
	height: 25px;
	overflow: hidden;
}

.ui-dialog-titlebar-close>span {
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 25px;
	text-indent: -999em;
}

.ui-dialog-titlebar-close>span.ui-button-text {
	background: transparent url(../images/dashboard/btn_modal_close.png)
		no-repeat 50%;
}

.ui-dialog-titlebar-close:hover>span.ui-button-text {
	background-image: url(../images/dashboard/btn_modal_close_on.png);
}

.ui-dialog-content {
	padding: 0;
	overflow-y: auto;
}

.ui-dialog-content>form {
	height: 100%;
}

.ui-dialog-buttonpane {
	padding: 7px 0 8px;
	width: 100%;
	height: 40px;
	text-align: center;
	border-top: 1px solid #ddd;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.ui-dialog-buttonpane .ui-button {
	position: relative;
	display: inline-block;
	margin: 0 2px;
}

.ui-dialog-buttonpane .ui-button>span {
	display: block;
	padding: 2px 15px;
	min-width: 40px;
	height: 21px;
	line-height: 22px;
	color: #999;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 2px;
}

.ui-dialog-buttonpane .ui-button>span:hover {
	background-color: #f1f1f1;
}

.ui-dialog-buttonpane .ui-button[highlight=true]>span {
	height: 23px;
	line-height: 24px;
	color: #fff;
	background-color: #e0301e;
	border: 0;
}

.ui-dialog-buttonpane .ui-button[highlight=true]>span:hover {
	background-color: #d02210;
}

.egate_dialog_wrap, .layer_popup_contents_area {
	position: relative;
	padding: 8px;
	min-height: 150px;
	height: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.egate_dialog_wrap .modal_tab_area {
	margin: -8px -8px 0;
}

.ui-dialog .egate_fm_wrap {
	height: 100%;
	min-width: auto;
}

.ui-dialog .egate_fm_header { /*display:none;*/
	
}

.ui-dialog .egate_fm_container {
	height: 100% !important;
}

.ui-dialog .egate_fm_container_inner {
	position: relative;
}

.ui-dialog .egate_sub_section {
	margin-bottom: 10px;
}

.modal_con_area .modal_con {
	padding: 8px;
}

.dialog_data_head {
	padding-right: 17px;
	background-color: #f5f4f0;
}

.dialog_data_list {
	height: 264px;
	overflow: hidden;
	overflow-y: scroll;
}

.dialog_data_list_auto {
	max-height: 264px;
	overflow: hidden;
	overflow-y: auto;
}

.dialog_con_title {
	margin-bottom: 10px;
	font-size: 14px;
	color: #333;
	font-weight: normal;
	font-family: 'Malgun Gothic';
}
/* contents common style */
.mt10 {
	margin-top: 10px;
}

.mt20 {
	margin-top: 20px;
}

.mt30 {
	margin-top: 30px;
}

.w150 {
	width: 150px;
}

.fc_red {
	color: #db536a;
}

.font_eng {
	font-family: Georgia, Helvetica, Sans-serif;
}

.btn {
	outline: none;
}

.btn_red {
	padding: 3px 8px;
	height: 26px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #db536a;
	border-radius: 2px;
	outline: none;
}

.btn_red:hover {
	background-color: #cd455c;
}

.btn_red_wide {
	padding: 3px 20px;
	min-width: 96px;
	height: 26px;
	line-height: 20px;
	color: #fff;
	text-align: center;
	background-color: #db536a;
	border-radius: 2px;
	outline: none;
}

.btn_red_wide:hover {
	background-color: #cd455c;
}

.btn_gray {
	padding: 2px 7px;
	height: 26px;
	line-height: 20px;
	color: #333;
	text-align: center;
	background-color: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 2px;
	outline: none;
}

.btn_gray:hover {
	background-color: #f5f5f5;
}

.btn_gray_wide {
	padding: 2px 19px;
	min-width: 96px;
	height: 26px;
	line-height: 20px;
	color: #333;
	text-align: center;
	background-color: #fff;
	border: 1px solid #d6d6d6;
	border-radius: 2px;
	outline: none;
}

.btn_gray_wide:hover {
	background-color: #f5f5f5;
}

.btn.ico_down {
	padding-right: 16px;
}

.btn.ico_down::before {
	content: '';
	display: inline-block;
	width: 23px;
	height: 20px;
	background: transparent url(../images/credential/ico_file_down.png)
		no-repeat 50%;
	vertical-align: top;
}

.btn.ico_up {
	padding-right: 16px;
}

.btn.ico_up::before {
	content: '';
	display: inline-block;
	width: 23px;
	height: 20px;
	background: transparent url(../images/credential/ico_file_up.png)
		no-repeat 50%;
	vertical-align: top;
}

.btn.ico_check {
	padding-right: 13px;
}

.btn.ico_check::before {
	content: '';
	display: inline-block;
	width: 23px;
	height: 20px;
	background: transparent url(../images/credential/ico_confirm.png)
		no-repeat 50%;
	vertical-align: top;
}

.btn.ico_edit {
	padding-right: 13px;
}

.btn.ico_edit::before {
	content: '';
	display: inline-block;
	width: 23px;
	height: 20px;
	background: transparent url(../images/credential/ico_edit.png) no-repeat
		50%;
	vertical-align: top;
}

.btn.ico_save {
	padding-right: 13px;
}

.btn.ico_save::before {
	content: '';
	display: inline-block;
	width: 23px;
	height: 20px;
	background: transparent url(../images/credential/ico_save.png) no-repeat
		50%;
	vertical-align: top;
}

.btn.ico_reset {
	padding-right: 13px;
}

.btn.ico_reset::before {
	content: '';
	display: inline-block;
	width: 23px;
	height: 20px;
	background: transparent url(../images/credential/ico_reset.png)
		no-repeat 50%;
	vertical-align: top;
}

.btn.ico_plus::before {
	content: '+';
	padding-right: 3px;
}

.btn.ico_minus::before {
	content: '-';
	padding-right: 3px;
}

.btn.ico_plus2 {
	width: 23px;
	height: 23px;
	background-image: url(../images/credential/ico_plus.gif);
	background-repeat: no-repeat;
	background-position: 50%;
	text-indent: -999em;
	margin: 0px 5px;
}

.btn.ico_minus2 {
	width: 23px;
	height: 23px;
	background-image: url(../images/credential/ico_minus.gif);
	background-repeat: no-repeat;
	background-position: 50%;
	text-indent: -999em;
}

.btn.ico_delete {
	width: 20px;
	height: 20px;
	background: transparent url(../images/credential/btn_inp_delete.gif)
		no-repeat 50%;
	text-indent: -999em;
}

.btn.ico_delete_date {
	width: 20px;
	height: 20px;
	background: transparent url(../images/credential/btn_inp_delete.gif)
		no-repeat 50%;
	text-indent: -999em;
}

/* .dc_con_section {margin-top:25px;} */
/* .dc_con_title {margin-bottom:5px;padding-left:22px;min-height:20px;color:#db5369;line-height:20px;background:transparent url(../images/credential/ico_title.gif) no-repeat left 50%;} */
.dc_con_section {
	margin-top: 3px;
}
/* .dc_con_section table:first-child {border-top:2px solid #db5369} */
.dc_con_title {
	margin-top: 20px;
	margin-bottom: 5px;
	padding-left: 22px;
	min-height: 20px;
	color: #db5369;
	line-height: 20px;
	background: transparent url(../images/credential/ico_title.gif)
		no-repeat left 50%;
	border-bottom: 2px solid #db5369
}

.dc_con_title .dc_con_title_date {
	float: right;
}

/* contetns form style */
.inp_text {
	padding: 2px 5px;
	width: 100%;
	height: 26px;
	line-height: 20px;
	border: 1px solid #d6d6d6;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

.inp_text:focus {
	border-color: #db536a;
}

.inp_text[] {
	background-color: #f9f9f9;
}

.inp_select {
	width: 100%;
	height: 26px;
	border: 1px solid #d6d6d6;
	outline: none;
}

.inp_select:focus {
	border-color: #db536a
}

.dc_frm_multi_select>span {
	float: left;
	height: 26px;
}
/* .dc_frm_multi_select {height:26px;}
.dc_frm_multi_select::after {content:'';clear:both;display:block;}
.dc_frm_multi_select > span {float:left;margin-left:5px;height:26px;}
.dc_frm_multi_select > span:first-child {margin-left:0;} */
.dc_frm_period {
	height: 26px:
}

.dc_frm_period::after {
	content: '';
	clear: both;
	display: block;
}

.dc_frm_period>span>.inp_text {
	width: 100px;
}

.dc_frm_period>span {
	position: relative;
	float: left;
	padding-right: 21px;
	width: 100px;
}

.dc_frm_period .dash {
	position: relative;
	padding-left: 19px;
}

.dc_frm_period .dash::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 19px;
	height: 26px;
	background: transparent url(../images/credential/img_dash.gif) no-repeat
		50%;
}

.dc_frm_period .btn_cal {
	position: absolute;
	right: 0px;
	top: 0px;
	width: 21px;
	height: 26px;
	background: transparent url(../images/credential/btn_cal.gif) no-repeat
		50%;
	text-indent: -999em;
}

.dc_frm_period .ico_delete {
	position: absolute;
	right: 24px;
	top: 4px;
}

.dc_frm_period .btn_cal:hover {
	background-color: #eeede9;
}

.dc_frm_rgt_btn {
	position: relative;
	padding-right: 66px;
	height: 26px;
}

.dc_frm_rgt_btn .btn {
	position: absolute;
	right: 0;
	top: 0;
	width: 60px !important;
}

/* contents UI style */
.dc_search_area {
	margin-bottom: 15px;
	background-color: #fff;
	border: 1px solid #dfdfdf;
}

.dc_search_area .search_head {
	position: relative;
	min-height: 26px;
	padding: 12px 5px 5px 12px;
	background-color: #f5f4f0;
}

.dc_search_area .search_head::after {
	content: '';
	clear: both;
	display: block;
}
/* .dc_search_area .search_head .btn_search {position:absolute;right:10px;top:12px;width:60px;} */
.dc_search_area .search_head .btn_search {
	float: right;
	top: 12px;
	margin-left: 4px;
	padding: 0px 16px
}

.dc_search_area .search_head dl {
	margin: 0;
	margin-right: 15px;
	margin-bottom: 8px;
	float: left;
	height: 26px;
	white-space: nowrap;
}

.dc_search_area .search_head dl:last-child {
	margin-left: 0;
}

.dc_search_area .search_head dl::after {
	content: '';
	clear: both;
	display: block;
}

.dc_search_area .search_head dl dt {
	display: inline-block;
	margin: 0;
	padding: 3px 0;
	height: 20px;
	color: #404040;
	line-height: 21px;
	vertical-align: top;
}

.dc_search_area .search_head dl dd {
	display: inline-block;
	margin: 0;
	padding: 0 5px;
	height: 26px;
	line-height: 26px;
	vertical-align: top;
}

.dc_search_area .search_detail {
	display: none;
	position: absolute;
	padding: 0px 20px;
	z-index: 40;
	left: 0;
	width: 100%;
	box-sizing: border-box;
}

.dc_search_area .search_detail>div {
	position: relative;
	padding: 10px;
	border: 1px solid #dfdfdf;
	background-color: #fff;
	width: 100%;
	box-sizing: border-box;
}

.dc_search_area .inp_select {
	min-width: 126px;
}

.dc_search_table {
	table-layout: auto;
	width: 100%;
	border: none 0;
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
	border-collapse: collapse;
}

.dc_search_table td {
	padding: 3px 2px;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.dc_search_table td.bg_red {
	padding-left: 10px;
	background-color: #fbeef0;
}

.dc_search_table td.bg_gray {
	padding-left: 10px;
	background-color: #f5f4f0;
}

.dc_scroll_table_area {
	margin-top: 5px;
	width: 100%;
	height: 450px;
	border-right: 1px solid #dfdfdf;
	overflow: hidden;
	overflow-x: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dc_scroll_table_area {
	margin-top: 5px;
	width: 100%;
	height: 450px;
	border-right: 1px solid #dfdfdf;
	overflow: hidden;
	overflow-x: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dc_table01 {
	table-layout: fixed;
	min-width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	border: none 0;
	border-bottom: 1px solid #dfdfdf;
}

.dc_table01 thead th {
	padding: 6px;
	font-size: 11px;
	text-align: center;
	font-weight: normal;
	background-color: #fbeef0;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
}

.dc_table01 thead tr:first-child th {
	border-top: 1px solid #dfdfdf;
}

.dc_table01 thead tr th:first-child {
	border-left: 1px solid #dfdfdf;
}

.dc_table01 tbody td {
	padding: 4px;
	font-size: 11px;
	text-align: left;
	line-height: 12px;
	border-top: 1px solid #dfdfdf;
	border-left: 1px solid #dfdfdf;
}

.dc_view_table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	background-color: #fff;
	border: 1px solid #dfdfdf; /* border-top:2px solid #db536b; */
}

.dc_view_table th {
	padding: 8px 0;
	background-color: #faeef0;
	font-weight: normal;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	font-family: Georgia, Helvetica, Sans-serif;
}

.dc_view_table tr th:first-child {
	border-left: none;
}

.dc_view_table tbody th {
	padding-left: 10px;
	text-align: left;
	vertical-align: top;
}

.dc_view_table tbody>tr:first-child th {
	border-top: none;
}

.dc_view_table td {
	padding: 0;
	border-top: 1px solid #dfdfdf;
	border-right: 1px solid #dfdfdf;
}

.dc_view_table tbody>tr:first-child td {
	border-top: none;
}

.ds_scroll_box {
	height: 100%;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.text_cell {
	padding: 8px 5px 8px 10px;
	border-left: 1px solid #dfdfdf;
}
/* .inp_change {padding:0 5px 0 10px;width:100%;height:32px;background-color:#f5f4f0;border:none 0;border-left:2px solid #dc546c;outline:none 0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;} */
.inp_change {
	padding: 0 5px 0 10px;
	width: 100%;
	height: 32px;
	background-color: #f5f4f0;
	border: none 0;
	border-left: 4px solid #968c6d;
	outline: none 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.inp_change[readonly='readonly'] {
	background-color: #fff;
	border-left: 1px solid #dfdfdf;
}

.inp_change_cre {
	padding: 0 5px 0 10px;
	width: 100%;
	height: 32px;
	outline: none 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/* .edit_mode .inp_change[readonly = 'readonly'] {background-color:#f5f4f0;border-left:2px solid #dc546c;} */
.edit_mode .inp_change[readonly='readonly'] {
	background-color: #f5f4f0;
	border-left: 4px solid #968c6d;
}

.inp_check_list, .inp_radio_list {
	padding: 0 5px 2px 10px;
}

.inp_check_list::after {
	content: '';
	clear: both;
	display: block;
}

.inp_check_list>label {
	margin-top: 4px;
	margin-right: 8px;
	height: 18px;
	line-height: 18px;
}

.inp_check_list>label:last-child {
	margin-right: 0;
}

.inp_check_list>label input {
	margin-top: 1px;
	margin-right: 2px;
	width: 13px;
	height: 13px;
	vertical-align: top;
}
/* .edit_mode .inp_check_list {padding:4px 5px 6px 10px;background-color:#f5f4f0;border-left:2px solid #dc546c;} */
.edit_mode .inp_check_list {
	padding: 4px 5px 6px 10px;
	background-color: #f5f4f0;
	border-left: 4px solid #968c6d;
	min-height: 32px
}

.data_cell {
	position: relative;
}

.data_cell.rgt_btn .btn {
	position: absolute;
	right: 3px;
	top: 3px;
}

.data_cell.rgt_btn .btn.ico_delete {
	right: 47px;
	top: 6px;
}

.data_cell.rgt_btn .btn.ico_delete_date {
	right: 27px;
	top: 7px;
}

.data_cell.rgt_btn .inp_change {
	padding-right: 60px;
}
/* .tb_btn_rgt_area {float:right;margin-top:-27px;max-width:80%;min-height:26px;} */
/* .tb_btn_rgt_area {float:right;max-width:80%;min-height:26px;margin-right:5px;margin-top:-3px} */
.tb_btn_rgt_area {
	float: right;
	margin-right: 5px;
	margin-top: -3px
}

.tb_btn_rgt_area::after {
	content: '';
	clear: both;
	display: block;
}

.tb_btn_rgt_area>button {
	float: left;
	margin-left: 4px;
}

.tb_btn_rgt_area>button:first-child {
	margin-left: 0;
}
/* .tb_btn_rgt_area > dl {float:left;height:26px;margin-left:10px;} */
.tb_btn_rgt_area>dl {
	float: left;
	height: 20px
}

.tb_btn_rgt_area>dl:first-child {
	margin-left: 0px;
}

.tb_btn_rgt_area>dl dt {
	float: left;
	padding-right: 5px;
	line-height: 26px;
	font-weight: bold;
}

.tb_btn_rgt_area>dl dd {
	float: left;
	margin: 0;
	padding: 0;
}

.tb_btn_delete {
	margin: 0;
	padding: 0;
	width: 14px;
	height: 15px;
	background: #db536b url(../images/credential/btn_ico_delete.gif)
		no-repeat 50%;
	border: none 0;
	border-radius: 0;
	text-indent: -999em;
}

/* admin */
.dc_divs_area {
	padding: 10px 20px 0;
	height: 100%;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dc_divs_area::after {
	content: '';
	clear: both;
	display: block;
}

.dc_divs_left {
	position: relative;
	float: left;
	margin-right: 2%;
	width: 35%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}

.dc_divs_right {
	position: relative;
	float: left;
	width: 63%;
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
}

.dc_divs_area .divs_btn_area {
	position: absolute;
	top: 0;
	left: 0;
	padding: 8px 0 10px;
	width: 100%;
	text-align: right;
}

.dc_divs_area .divs_con_area {
	height: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dc_divs_area .divs_btn_area+.divs_con_area {
	padding-top: 44px;
}

/* 추가 */
.dc_headr_date {
	margin-bottom: 15px;
}

.dc_header_table {
	table-layout: fixed;
	border: none 0;
	width: 100%;
	border-collapse: separate;
	border: 1px solid #dfdfdf;
}

.dc_header_table td {
	padding: 8px 0;
	color: #949699;
	font-size: 11px;
	text-align: center;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	background-color: #f5f4f0;
	vertical-align: middle;
}

.dc_data_table_nobdr {
	table-layout: fixed;
	border: none 0;
	width: 100%;
	border-collapse: separate;
	border-right: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.dc_data_table_nobdr th {
	font-family: Georgia, Dotum, Helvetica, sans-serif;
	padding: 8px;
	font-weight: normal;
	text-align: left;
	color: #000;
	background-color: #f5f4f0;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #fff;
	vertical-align: middle;
}

.dc_data_table_nobdr th.req {
	font-weight: bold;
	color: #4c4c4e;
	background: #f5f4f0 url(../images/dashboard/img_required.gif) no-repeat
		left top;
}

.dc_data_table_nobdr td {
	padding: 0;
	line-height: 16px;
	font-size: 13px;
	text-align: left;
	border-left: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
	vertical-align: middle;
}

.dc_data_table_nobdr tr:nth-of-type(1) th, .dc_data_table tr:nth-of-type(1) td
	{
	border-top: none 0;
}

.dc_data_table_nobdr tr:last-child th, .dc_data_table_nobdr tr:last-child td
	{
	border-bottom: none 0;
}

.dc_data_table_nobdr tr.selectedRow {
	background: #f7cbc7;
}

.dc_data_table_nobdr .data_text {
	display: inline-block;
	padding: 8px;
}

.dc_data_table_nobdr.tac th, .dc_data_table_nobdr.tac td {
	text-align: center;
}

.dc_data_table_nobdr th.tal, .dc_data_table_nobdr td.tal {
	text-align: left;
}

.dc_data_table_nobdr th.tar, .dc_data_table_nobdr td.tar {
	text-align: right;
}

.dc_data_table_nobdr th.tac, .dc_data_table_nobdr td.tac {
	text-align: center;
}

.dc_data_table_nobdr td.btn_area {
	padding: 0 6px;
}

.dc_data_table_nobdr td.btn_area>button {
	margin: 0 2px;
}

.dc_bottom_box {
	position: relative;
	margin: 10px 0px 0px 0px;
	padding: 11px 139px 11px 10px;
	min-height: 26px;
	background-color: #f5f4f0;
	border: 1px solid #dfdfdf;
	border-radius: 3px;
	overflow: hidden;
}

.dc_bottom_box::after {
	content: '';
	clear: both;
	display: block;
}

.dc_bottom_box_lft {
	height: 30px;
	overflow: hidden;
}

.dc_bottom_box.open .dc_bottom_box_lft {
	height: auto;
}

.dc_bottom_box_rgt {
	position: absolute;
	right: 10px;
	top: 11px;
	height: 26px;
}

.dc_bottom_box .box_row {
	margin-top: 4px;
	height: 26px;
	overflow: hidden;
}

.dc_bottom_box .box_row:first-child {
	margin-top: 5;
}

.dc_bottom_box .box_row::after {
	content: '';
	clear: both;
	display: block;
}

.dc_bottom_box .box_row>span {
	float: left;
	padding-left: 5px;
	margin-right: 20px;
	height: 26px;
	line-height: 26px;
	color: #a09e9f;
	background: transparent url(../images/dashboard/img_bar.gif) no-repeat
		left 50%;
}

.dc_bottom_box input[type=text] {
	padding: 2px 0;
	height: 20px;
	line-height: 20px;
	border: 1px solid #d6d6d6;
	vertical-align: top;
}

.dc_bottom_box select {
	height: 26px;
	line-height: 26px;
	border: 1px solid #d6d6d6;
	vertical-align: top;
}

/*jquery UI*/
.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.ui-widget-overlay {
	background: #aaaaaa;
	opacity: .3;
	filter: Alpha(Opacity = 30);
}

.ui-front {
	z-index: 100;
}

.ui-dialog-buttonpane .btn_highlight>span {
	height: 23px;
	line-height: 24px;
	color: #fff;
	background-color: #db536a;
	border: 0;
}

.ui-dialog-buttonpane .btn_highlight>span:hover {
	background-color: #cd455c;
}

.progress {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, 0.3);
	padding-top: 25%;
	text-align: center;
	color: gray;
	display: block;
	z-index: 9999;
}

#div-grid-area {
	overflow: hidden;
	border: 1px solid #e5e5e5;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

#div-grid-area * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

#div-grid {
	margin-top: -1px;
}

#div-grid .hdrcell {
	font-family: inherit;
	padding: inherit;
	font-size: inherit;
	background-color: inherit;
	color: inherit !important;
	font-size: inherit !important;
}
/* td.na-field {background-color:#e7e7e8} */
th.na-field {
	color: #939598;
	text-decoration: line-through
}

.objbox td.na-column {
	background-color: #f5f4f0
}

.objbox tr.rowselected td.na-column {
	background-color: inherit
}

.fa-info-circle {
	color: #c7c8ca;
	vertical-align: middle;
}

#div-grid .fa-info-circle {
	margin-right: 10px;
	font-size: 25px !important;
}

#dc_mn_view .fa-info-circle {
	margin-left: 5px;
	font-size: 14px !important;
}

#user {
	font-size: 14px;
	font-family: Georgia, Dotum, Helvetica, sans-serif;
}

div#guideline_content_area {
	font-size: 13px;
	padding: inherit;
	height: 264px;
	overflow: hidden;
	overflow-y: scroll;
}

/* dhtmlx_custom */
.dhtmlx_message_area {
	position: fixed;
	right: 10px;
	width: 250px;
	z-index: 1000;
	padding: 0;
	bottom: 0 !important;
}

.dhtmlx_message_area .dhtmlx-info {
	border: 0px;
}

.dhtmlx-info li:before {
	content: "- "
}

.dhtmlx_message_area .dhtmlx-info div {
	background-color: #f7cbc7;
}

.dc_frm {
	position: relative;
	margin: 20px 0 0;
	padding: 0;
	padding-left: 100px;
}

.dc_frm dt {
	position: absolute;
	left: 0;
	top: 0;
	padding: 5px 0px 5px 20px;
	width: 80px;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
}

.dc_frm .input_frm {
	max-height: 168px;
	overflow-y: auto;
}

.dc_frm .frm_atr:first-child {
	margin-top: 0;
}

.dc_frm .frm_atr {
	position: relative;
	margin-top: 4px;
	padding-right: 40px;
	height: 30px;
}

.dc_frm .data_input {
	min-height: 28px;
	height: 28px;
	background-color: #fff;
	border: 1px solid #e5e2db;
	width: 45%;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.dc_frm .data_textarea {
	min-height: 28px;
	height: 100px;
	background-color: #fff;
	border: 1px solid #e5e2db;
	width: 45%;
	display: inline-block;
	float: left;
	margin-right: 10px;
}

.dc_frm input, .dc_frm select, .dc_frm textarea {
	padding: 0 5px 0 5px;
	width: 100%;
	height: 28px;
	border: none 0;
	border-radius: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
	background-color: #f5f4f0;
}

.dc_frm textarea {
	height: 99px;
}

.dc_frm .data_input select {
	padding-right: 0px;
}

.transparency-msg-area {
	display: block;
	position: absolute;
	z-index: 30;
	width: 100%;
	text-align: center;
	margin-top: 10%;
	left: 0;
	top: 0
}

.transparency-msg-area .transparency-msg {
	display: inline-block;
	min-width: 400px;;
	position: relative;
	z-index: 30;
	line-height: normal;
	/*background-color:#fbeef0;
	box-shadow: 5px 5px 6px #e7e7e8; 
	border: 1px solid #c7c8ca;*/
	vertical-align: middle;
	padding: 20px 20px;
	font-family: Georgia, Dotum, Helvetica, sans-serif;
	font-size: 17px;
	color: #939598;
}

.transparency-msg-area .transparency-msg i {
	margin-right: 20px;
	vertical-align: top;
	font-size: 17px;
	color: #c7c8ca;
}

.gridbox {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.gridbox * {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box
}

.gridbox div.hdrcell {
	font-family: Georgia, Dotum, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 3px
}

.gridbox td.editColumn {
	background-color: #f6dabf
}

.gridbox td.naColumn {
	background-color: #f5f4f0
}

.gridbox td.emphasis {
	color: red
}

.gridbox tr.rowselected td.editColumn, .gridbox tr.rowselected td.naColumn
	{
	background-color: inherit
}

.ico_tooltip {
	display: inline-block;
	width: 13px;
	height: 13px;
	background-image: url(../images/credential/Infobox.png);
	background-size: 13px;
	vertical-align: middle;
	margin-left: 2px
}
/*bootstrap*/
.tooltip {
	position: absolute;
	z-index: 999999 !important;
	color: red;
	display: block;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: 1.42857143;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
	font-size: 12px;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.tooltip.in {
	opacity: 0.9;
	filter: alpha(opacity = 90);
}

.tooltip.top {
	margin-top: -3px;
	padding: 5px 0;
}

.tooltip.right {
	margin-left: 3px;
	padding: 0 5px;
}

.tooltip.bottom {
	margin-top: 3px;
	padding: 5px 0;
}

.tooltip.left {
	margin-left: -3px;
	padding: 0 5px;
}

.tooltip-inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	background-color: #000000;
	border-radius: 4px;
}

.tooltip-inner {
	text-align: left;
	background-color: #505050;
	font-size: 12px;
	max-width: 400px;
	width: 400px;
}

.tooltip-arrow {
	position: absolute;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
}

.tooltip.top .tooltip-arrow {
	bottom: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 5px 5px 0;
	border-top-color: #505050;
}

.tooltip.top-left .tooltip-arrow {
	bottom: 0;
	right: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #505050;
}

.tooltip.top-right .tooltip-arrow {
	bottom: 0;
	left: 5px;
	margin-bottom: -5px;
	border-width: 5px 5px 0;
	border-top-color: #505050;
}

.tooltip.right .tooltip-arrow {
	top: 50%;
	left: 0;
	margin-top: -5px;
	border-width: 5px 5px 5px 0;
	border-right-color: #505050;
}

.tooltip.left .tooltip-arrow {
	top: 50%;
	right: 0;
	margin-top: -5px;
	border-width: 5px 0 5px 5px;
	border-left-color: #505050;
}

.tooltip.bottom .tooltip-arrow {
	top: 0;
	left: 50%;
	margin-left: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #505050;
}

.tooltip.bottom-left .tooltip-arrow {
	top: 0;
	right: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #505050;
}

.tooltip.bottom-right .tooltip-arrow {
	top: 0;
	left: 5px;
	margin-top: -5px;
	border-width: 0 5px 5px;
	border-bottom-color: #505050;
}

.required {
	color: red;
}

.required:before {
	content: " * ";
}