<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>표준감사시간관리</title>
<link href="../../../resources/css/pwc.css" rel="stylesheet" type="text/css">
<link href="../../../resources/css/pwc_mediaS.css" rel="stylesheet" type="text/css" media="(max-width:1600px)">
<style type="text/css">
	.layPopup{top:50px}
</style>
</head>

<div id="alertBox" class="alertBox" role="dialog" draggable="false" style="z-index: 100010; display: block; margin-top: -117px;">
        <ul class="alertMsg">
			<li>근로시간이 주52시간 초과되었습니다.</li>
			<li>작성된 time은 자동으로 결재로 상신됩니다.</li>
			<li>등록하시겠습니까?</li>
			<li>근로시간이 주52시간 초과되었습니다.</li>
			<li>작성된 time은 자동으로 결재로 상신됩니다.</li>
			<li>등록하시겠습니까?</li>
			<li>근로시간이 주52시간 초과되었습니다.</li>
			<li>작성된 time은 자동으로 결재로 상신됩니다.</li>
			<li>등록하시겠습니까?</li>
			<li>근로시간이 주52시간 초과되었습니다.</li>
			<li>작성된 time은 자동으로 결재로 상신됩니다.</li>
			<li>등록하시겠습니까?</li>
		</ul>
		
        <div class="alertBtns">
			<a href="#" class="btCancel">취소</a>
            <a href="#" class="btConfirm">확인</a>
        </div>
    </div>
<div class="dimmed" style="disp lay:block"></div>
<script type="text/javascript" src="../../../resources/lib/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../resources/lib/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../resources/lib/jqueryui/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../../../resources/js/selectbox_pwc.js"></script>
<script type="text/javascript" src="../../../resources/js/pwc_ui.js"></script>

</body>
</html>
