<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>표준감사시간관리</title>
<link href="../../../resources/css/dhtmlx_custom.css" rel="stylesheet" type="text/css">
<link href="../../../resources/css/pwc.css" rel="stylesheet" type="text/css">
<link href="../../../resources/css/pwc_mediaS.css" rel="stylesheet" type="text/css" media="(max-width:1600px)">
</head>

<body class="popSample">
<div id="layPopup" class="layPopup layerM" role="dialog" aria-label="임직원 검색">
	<h2 class="layTit">임직원 검색</h2>
	<div class="layCont">
		<div class="searchBox frmNowrap">
			<div class="selectbox">
				<select title="">
					<option value="01">삼일회계법인</option>
					<option value="02">아모레퍼시픽</option>
					<option value="03">Pwcc</option>
				</select>
			</div>
			<input type="text"><button type="button" class="btIco btnSearch gapL">검색</button>
		</div>
		
		<div class="tblScroll tblScroll12">
			<table class="tblH">
				<caption>임직원 목록</caption>
				<colgroup><col style="width:20%"><col style="width:20%"><col style="width:27%"><col style="width:auto"></colgroup>
				<thead>
					<tr>
						<th scope="col">팀코드</th>
						<th scope="col">사번</th>
						<th scope="col">성명</th>
						<th scope="col">직급</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="4">조회 결과가 없습니다.</td>
					</tr>
					<tr>
						<td>AA02</td>
						<td>123456</td>
						<td class="tleft">강다니엘</td>
						<td class="tleft">Manager</td>
					</tr>
					<tr>
						<td>AA02</td>
						<td>123456</td>
						<td class="tleft">강다니엘</td>
						<td class="tleft">Manager</td>
					</tr>
					<tr>
						<td>AA02</td>
						<td>123456</td>
						<td class="tleft">강다니엘</td>
						<td class="tleft">Manager</td>
					</tr>
					<tr>
						<td>AA02</td>
						<td>123456</td>
						<td class="tleft">강다니엘</td>
						<td class="tleft">Manager</td>
					</tr>
					<tr>
						<td>AA02</td>
						<td>123456</td>
						<td class="tleft">강다니엘</td>
						<td class="tleft">Manager</td>
					</tr>
					<tr>
						<td>AA02</td>
						<td>123456</td>
						<td class="tleft">강다니엘</td>
						<td class="tleft">Manager</td>
					</tr>
					<tr>
						<td>AA02</td>
						<td>123456</td>
						<td class="tleft">강다니엘</td>
						<td class="tleft">Manager</td>
					</tr>
					<tr>
						<td>AA02</td>
						<td>123456</td>
						<td class="tleft">강다니엘</td>
						<td class="tleft">Manager</td>
					</tr>
					<tr>
						<td>AA02</td>
						<td>123456</td>
						<td class="tleft">강다니엘</td>
						<td class="tleft">Manager</td>
					</tr>
					<tr>
						<td>AA02</td>
						<td>123456</td>
						<td class="tleft">강다니엘</td>
						<td class="tleft">Manager</td>
					</tr>
					<tr>
						<td>AA02</td>
						<td>123456</td>
						<td class="tleft">강다니엘</td>
						<td class="tleft">Manager</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="btnArea">
			<button type="button" class="btnPwc btnL">취소</button>
			<button type="button" class="btnPwc btnL action">선택</button>
		</div>
		
	</div>
	<button type="button" class="closeL">닫기</button>
</div>
<div class="dimmed" style="display:block"></div>
<script type="text/javascript" src="../../../resources/lib/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../resources/lib/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../resources/lib/jqueryui/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../../../resources/js/selectbox_pwc.js"></script>
<script type="text/javascript" src="../../../resources/js/pwc_ui.js"></script>

</body>
</html>
