<!doctype html>
<html lang="ko">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>표준감사시간관리</title>
<link href="../../../resources/css/dhtmlx_custom.css" rel="stylesheet" type="text/css">
<link href="../../../resources/css/pwc.css" rel="stylesheet" type="text/css">
<link href="../../../resources/css/pwc_mediaS.css" rel="stylesheet" type="text/css" media="(max-width:1600px)">
</head>

<body class="popSample">
<div id="layPopup" class="layPopup layerL" role="dialog" aria-label="Budget Hour History">
	<h2 class="layTit">Budget Hour History</h2>
	<div class="layCont">
		<div class="layBtn">
			<button type="button" class="btnPwc btnM action">Excel Export</button>
		</div>
		
		<div id="" class="gridbox gridHp04">그리드 영역</div>
		
	</div>
	<button type="button" class="closeL">닫기</button>
</div>
<div class="dimmed" style="display:block"></div>
<script type="text/javascript" src="../../../resources/lib/jquery/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="../../../resources/lib/jqueryui/jquery-ui.min.js"></script>
<script type="text/javascript" src="../../../resources/lib/jqueryui/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="../../../resources/js/selectbox_pwc.js"></script>
<script type="text/javascript" src="../../../resources/js/pwc_ui.js"></script>

</body>
</html>
